<div [hidden]="false">
    <mat-sidenav-container class="app-container" autosize fullscreen>
      <mat-sidenav dark #sidenav mode="side" [opened]="true">
        <div class="sidenav-header">
          <img src="{{user?.avatar!}}" alt="" class="avatar">
          <div class="role"><strong>{{role}}</strong></div>
          <div class="email"><strong>{{user?.email!}}</strong></div>
          <div *ngIf="role == 'Student'" class="class">Class: {{className}}</div>
        </div>
        <div class="divider"></div>
        <mat-nav-list>
          <a mat-list-item routerLink="{{role == 'Student' ? 'student-account' : (role == 'Teacher' ? 'teacher-account' : 'admin-account')}}">
            <div class="menu-item">
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <span mat-line class="menu-item-name">Account</span>
            </div>
          </a>
          <a mat-list-item routerLink="classmates" *ngIf="role == 'Student'">
            <div class="menu-item">
              <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
              <span mat-line class="menu-item-name">Classmates</span>
            </div>
          </a>
          
          <a mat-list-item routerLink="teachers" *ngIf="role == 'Student'">
            <div class="menu-item">
              <mat-icon mat-list-icon>people</mat-icon>
              <span mat-line class="menu-item-name">Teachers</span>
            </div>
          </a>
          <a mat-list-item routerLink="{{role == 'Student' ? 'student-schedule' : (role == 'Teacher' ? 'teacher-schedule' : 'admin-schedule')}}">
            <div class="menu-item">
              <mat-icon mat-list-icon>event_note</mat-icon>
              <span mat-line class="menu-item-name">Schedule</span>
            </div>
          </a>
          <a mat-list-item routerLink="{{role == 'Student' ? 'student-grades' : (role == 'Teacher' ? 'teacher-grades' : 'admin-grades')}}">
            <div class="menu-item">
              <mat-icon mat-list-icon>grade</mat-icon>
              <span mat-line class="menu-item-name">Grades</span>
            </div>
          </a>
          <a mat-list-item routerLink="notes">
            <div class="menu-item">
              <mat-icon mat-list-icon>note_add</mat-icon>
              <span mat-line class="menu-item-name">Notes</span>
            </div>
          </a>
          <a mat-list-item routerLink="logout" (click)="logout()">
            <div class="menu-item">
              <mat-icon mat-list-icon>logout</mat-icon>
              <span mat-line class="menu-item-name">Logout</span>
            </div>
          </a>
  
        </mat-nav-list>
  
      </mat-sidenav>
  
      <mat-sidenav-content [hidden]="false">
        <mat-toolbar class="logo" dark style="background-color:rgb(228, 224, 224)">
          <!-- <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>list</mat-icon>
          </button> -->
          <div><strong>MyClass</strong></div>
        </mat-toolbar>
        <div class="main" [hidden]="false">
          <router-outlet></router-outlet>
        </div>
        <footer class="footer">
          <span style="font-family:sans-serif">&copy; Nichita Macheev Journal 2023 </span>
        </footer>
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
    <!-- </mat-sidenav-container> -->
  </div>