table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 14px;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ececec;
}

.wrapper {
    margin: 60px 0px;
}
  
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delete {
    background-color: transparent;
    border: none;
    color: #f93e3e;
    cursor: pointer;
}

.delete:hover {
    color: #c12a2a;
}

.add {
    background-color: transparent;
    border: none;
    color: #49cc90;
    cursor: pointer;
}

.add:hover {
    color: #3ca676;
}