<mat-card class='light' style="height: 100%;">
    <div *ngIf="paginationFlag">
      <mat-card-header>
        <mat-card-title class="view-card-title">
        </mat-card-title>
      </mat-card-header>
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-form-field>
  
            <input matInput [formControl]="searchInput" (keyup.enter)="applySearch()" placeholder="Search">
          </mat-form-field>
          <div class="buttons">
            <span class="title-spacer"></span>
            <button mat-mini-fab class="add-button" (click)="hidePagination('Add', -1)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab class="refresh-button" (click)="resetGrid()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
  
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-table #table [dataSource]="pagedUsers?.items!" matSort matSortActive="firstName" matSortDirection="asc">
  
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px; padding-right: 20px;"> Email
          </mat-header-cell>
          <mat-cell *matCellDef="let user" style="padding-left: 10px; padding-right: 20px;"> {{user.email}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="dateOfBirth">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px; padding-right: 20px;"> Birth Date
          </mat-header-cell>
          <mat-cell *matCellDef="let user" style="padding-left: 10px; padding-right: 20px;">
            {{user.dateOfBirth.split('T')[0]}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.gender | gender}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="className">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.className}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="signedUpAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Joined </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.signedUpAt.split('T')[0]}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="numberOfSubjects">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Subjects </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.numberOfSubjects}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef style="justify-content:right;">
          </mat-header-cell>
          <mat-cell *matCellDef="let user" style="justify-content:right;">
            <button mat-mini-fab class="edit-button" *ngIf="user.email != 'admin@admin.com'"
              (click)="hidePagination('Edit', user.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab class="delete-button" *ngIf="user.email != 'admin@admin.com'"
              (click)="deleteDialog(user.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      </mat-table>
  
      <mat-paginator [length]="pagedUsers?.total" [pageSizeOptions]="[10, 25, 50, 100, 200, 500]" pageSize="10"></mat-paginator>
    </div>
  
    <div *ngIf="!paginationFlag">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="view-card-title">
            <h1>{{pageTitle}}</h1>
          </mat-card-title>
        </mat-card-header>
        <form novalidate [formGroup]="userForm" (ngSubmit)="saveUser()">
          <mat-toolbar style="background-color: #FFF">
            <mat-toolbar-row>
              <span class="title-spacer"></span>
  
              <mat-card-actions>
                <button mat-mini-fab class="save-button" type="submit" [disabled]="!userForm.valid">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-mini-fab class="cancel-button" (click)="refresh()">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-card-actions>
  
            </mat-toolbar-row>
          </mat-toolbar>
  
          <mat-card-content>
            <div class="form-card">
  
              <div class="spacing">
                <mat-form-field floatLabel="always" hideRequiredMarker style="display: block; width: 50%;">
                  <label for="firstName">First Name</label>
                  <mat-label></mat-label>
                  <input matInput type="text" placeholder="First Name *" formControlName="firstName" />
                  <div>
                    <small *ngIf="userForm.get('firstName')?.errors?.['noNumbersCharsSpaces']">
                      First Name can't contain numbers, spaces or special characters.
                    </small>
                    <small *ngIf="userForm.get('firstName')?.errors?.['minlength']">
                      First Name has from 2 to 30 characters long.
                    </small>
                    <small *ngIf="userForm.get('firstName')?.errors?.['maxlength']">
                      First Name has from 2 to 30 characters long.
                    </small>
                  </div>
                </mat-form-field>
  
                <mat-form-field floatLabel="always" hideRequiredMarker style="display: block; width: 50%;">
                  <label for="lastName">Last Name</label>
                  <mat-label></mat-label>
                  <input type="text" matInput placeholder="Last Name *" formControlName="lastName" />
                  <div>
                    <small *ngIf="userForm.get('lastName')?.errors?.['noNumbersCharsSpaces']">
                      Last Name can't contain numbers, spaces or special characters.
                    </small>
                    <small *ngIf="userForm.get('lastName')?.errors?.['minlength']">
                      Last Name has from 2 to 30 characters long.
                    </small>
                    <small *ngIf="userForm.get('lastName')?.errors?.['maxlength']">
                      Last Name has from 2 to 30 characters long.
                    </small>
                  </div>
                </mat-form-field>
              </div>
  
  
              <div class="spacing">
                <mat-form-field floatLabel="always" hideRequiredMarker style="display: block; width: 50%;">
                  <label for="email">Email</label>
                  <mat-label></mat-label>
                  <input type="text" matInput placeholder="Email *" formControlName="email" />
                  <div>
                    <small *ngIf="userForm.get('email')?.errors?.['minlength']">
                      Email has to be at least 5 characters long.
                    </small>
                    <small *ngIf="userForm.get('email')?.errors?.['maxlength']">
                      Email can't be more than 30 characters long.
                    </small>
                    <small *ngIf="userForm.get('email')?.errors?.['email']">
                      Email doesn't fit to email format. Please check your email.
                    </small>
                  </div>
                </mat-form-field>
  
                <mat-form-field floatLabel="always" hideRequiredMarker style="display: block; width: 50%;">
                  <label for="dateOfBirth">Birth Date</label>
                  <mat-label></mat-label>
                  <input type="date" matInput placeholder="Date *" formControlName="dateOfBirth" />
                  <div>
                    <small *ngIf="userForm.get('dateOfBirth')?.errors?.['required']">
                      Birth Date is required.
                    </small>
                  </div>
                </mat-form-field>
              </div>
  
  
              <div class="spacing" *ngIf="pageTitle=='Add'">
                <mat-form-field floatLabel="always" hideRequiredMarker style="display: block; width: 50%;">
                  <label for="password">Password</label>
                  <mat-label></mat-label>
                  <input type="text" matInput placeholder="Password *" formControlName="password" />
                  <div>
                    <div>
                      <small *ngIf="userForm.get('password')?.errors?.['minlength']">
                        Password has to be at least 8 characters long.
                      </small>
                      <small *ngIf="userForm.get('password')?.errors?.['maxlength']">
                        Password can't be more than 20 characters long.
                      </small>
                      <small *ngIf="userForm.get('password')?.errors?.['lowercaseLetterCheck']">
                        Password has to contain at least one lowercase letter.
                      </small>
                      <small *ngIf="userForm.get('password')?.errors?.['uppercaseLetterCheck']">
                        Password has to contain at least one uppercase letter.
                      </small>
                      <small *ngIf="userForm.get('password')?.errors?.['digitCheck']">
                        Password has to contain at least one digit.
                      </small>
                      <small *ngIf="userForm.get('password')?.errors?.['specialCharCheck']">
                        Password has to contain at least one special character.
                      </small>
                    </div>
                  </div>
                </mat-form-field>

                <div
                  style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                  <label for="className">Class Name</label>
  
                  <select id="className" formControlName="className" >
                    <option *ngFor="let class of classesWithIds" value="{{class.id}}">{{class.className}}</option>
                  </select>
                  <div>
                    <small *ngIf="userForm.get('className')?.errors?.['required']">
                      Class is required.
                    </small>
                  </div>
                </div>
              </div>
  
  
              <div class="spacing">
                <div
                  style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                  <label for="gender">Gender</label>
  
                  <select id="gender" formControlName="gender">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                  </select>
                  <div>
                    <small *ngIf="userForm.get('gender')?.errors?.['required']">
                      Birth Date is required.
                    </small>
                  </div>
                </div>
  
                
  
                
  
             
              </div>
  
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </mat-card>
  