footer {
    
    // padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}

.footer-content {
    width: auto;
    transition: background 0.4s;
    padding: 7px;
    border-radius: 10px;
}

.footer-content:hover {
    background: rgba(0, 0, 0, 0.11);
    cursor: pointer;
}