

<div class="container">
    <div class="column-1">
        <app-change-password></app-change-password>
        <app-upload-avatar></app-upload-avatar>
    </div>
    <div class="column-2">
        <app-student-about-info></app-student-about-info>
        <app-improvement-window></app-improvement-window>
    </div>
    <div class="column-3">
        <app-subjects-list></app-subjects-list>
    </div>
</div>
<div class="download">
    
    <a href="{{downloadLink}}" class="link"><img src="https://typostorage.blob.core.windows.net/avatars/35_Dina+Lupsha2023-01-16T120834459.ef3001001dc48461d3bf7.png" alt="" class="icon">Download My Info</a>
</div>