.wrapper {
    padding: 10px 20px;
}

.container {
    margin-bottom: 70px;
    padding: 40px 60px;
    border-radius: 40px;
    background-color: rgba(220, 220, 220, 0.479);
}

h1 {
    margin: 0;
    margin-bottom: 25px;
}

.header {
    font-size: 40px;
}

.text {
    line-height: 180%;
    margin-bottom: 20px;
}

.description {
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(123, 123, 123);
}

img {
    width: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.2s all ease-in;
}

img:hover{
    // width: 30px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding: 15px 60px;
    border-radius: 40px;
    background-color: rgb(115, 216, 118);
}

.add:hover {
    cursor: pointer;
    background-color: rgb(64, 146, 67);

}

.add-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    resize: none;
    display: block;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ececee;
    box-shadow: 0 2px 3px -1px #25252505,0 2px 4px -1px #0000000f;
    // padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#input-header, #input-author {
    width: 40%;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ececee;
    box-shadow: 0 2px 3px -1px #25252505,0 2px 4px -1px #0000000f;
    // padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
    width: 70%;
}

.buttons {
    margin-top: 20px;
    width: 72%;
    display: flex;
    flex-direction: row;
}

button {
    border: 0px;
    background-color: transparent;
    padding: 0;
    margin: 5px;
    display: inline;
}

#upload {
    // color: #60c56a;
    // transition: background 0.4s;
    // padding: 5px;
    // border-radius: 10px;
    text-align: center;
    width: 50%;
    border-radius: 7px;
    cursor: pointer;
    background-image: none;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.25rem;
    // border-width: 1px;
    border-color: #0000;
    background-color: #60c56a;
    color: white;
    transition: background 0.4s;
}

#delete {
    // color: #f85149;
    // transition: background 0.4s;
    // padding: 5px;
    // border-radius: 10px;
    text-align: center;
    width: 50%;
    border-radius: 7px;
    cursor: pointer;
    background-image: none;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.25rem;
    // border-width: 1px;
    border-color: #0000;
    background-color: #f85149;
    color: white;
    transition: background 0.4s;
}

#upload:hover {
    background: rgba(81, 206, 81, 0.11);
    cursor: pointer;
}

#delete:hover {
    background: rgba(206, 81, 81, 0.11);
    cursor: pointer;
}

.actions {
    width: 5.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}