<div class="wrapper">
  <div class="container">
    <table class="table first" >
      <tr>
        <th>Subjects</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let subject of subjectsWithIds">
        <td>{{subject.subjectName}}</td>
        <td><button class="delete" (click)="deleteSubject(subject.id)"><strong>Delete</strong></button></td>
      </tr>
      <tr>
        <td><input type="text" #subjectInput placeholder="New subject.." name="" id=""></td>
        <td><button class="add" (click)="addSubject()"><strong>Add</strong></button></td>
      </tr>
    </table>

    <table class="table second">
      <tr>
        <th>Classes</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let class of classesWithIds">
        <td>{{class.className}}</td>
        <td><button class="delete" (click)="deleteClass(class.id)"><strong>Delete</strong></button></td>
      </tr>
      <tr>
        <td><input type="text" #classInput placeholder="New class.." name="" id=""></td>
        <td><button class="add" (click)="addClass()"><strong>Add</strong></button></td>
      </tr>
    </table>

    <table class="table third">
      <tr>
        <th>Class</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let row of relations">
        <td>{{row.className}}</td>
        <td>{{row.subjectName}}</td>
        <td>{{row.teacherName}}</td>
        <td><button class="delete" (click)="deleteRelation(row.id)"><strong>Delete</strong></button></td>
      </tr>
      <tr>
        <td>
          <select #classSelect>
            <option disabled selected value="-1">Select a class</option>
            <option *ngFor="let class of classesWithIds" value="{{class.id}}">{{class.className}}</option>
          </select>
        </td>
        <td>
          <select #subjectSelect>
            <option disabled selected value="-1">Select a subject</option>
            <option *ngFor="let subject of subjectsWithIds" value="{{subject.id}}">{{subject.subjectName}}</option>
          </select>
        </td>
        <td>
          <select #teacherSelect>
            <option disabled selected value="-1">Select a teacher</option>
            <option *ngFor="let teacher of teachersWithIds" value="{{teacher.id}}">{{teacher.teacherName}}</option>
          </select>
        </td>
        <td><button class="add" (click)="addRelation()"><strong>Add</strong></button></td>
      </tr>
    </table>
  </div>
</div>
