<div class="container">
    <h1>About</h1>
    <span>Name: <strong>{{student?.fullName}}</strong></span>
    <span>Birth Date: <strong>{{student?.dateOfBirth}}</strong></span>
    <span>Class: <strong>{{student?.className}}</strong></span>
    <span>Number Of Subjects: <strong>{{student?.numberOfSubjects}}</strong></span>
    <span>Number Of Classmates: <strong>{{student?.numberOfClassmates}}</strong></span>
    <span>Number Of Teachers: <strong>{{student?.numberOfTeachers}}</strong></span>
</div>