#logo {
    // padding: 15px;
    margin-top: 20px;
    font-weight: 900 !important;
    text-align: center;
    color: #3d3d3d;
    font-weight: 700;
    font-size: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}